*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 1px;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.film {
  width: 75%;
  margin: 0 20px;
}

.film-title,
.film-description  {
  display: inline-block;
  margin: 0;

}

.action-like {
  float: right;
  color: red;
}

.film-poster {
  position: relative;
  float:left;
  width:25%;
}

.film-details {
  float:left;
  width: 72%;
  margin-left: 10px;
}
.fa.fa-2x.fa-clock-o{
  position: absolute;
  top: 8px;
  left: 75%;
  color: red;

}
